@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Acesso Restrito</h4>
    <p>Você não tem permissão para acessar essa funcionalidade.</p>
    <hr>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Voltar para Home</a>
</div>